#background {
    width: 100%; 
    height: 100%; 
    left: 0px; 
    top: 0px; 
    z-index: -1; 
    position: fixed;
    background-image: url(".../img/background.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
.stretch {
    width:100%;
    height:100%;
}
}

.coverimage {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.tablecell {
	width: 100%;
	border: 1px solid black;
	padding: 10px;
  text-align: center;
  background: rgba(255,255,255,0.4);
  border-radius: 24px;
}

.column {
    float: left;
    width: 20%;
}

.thumbnail {
	display: block;
	margin-left: auto;
  margin-right: auto;
	width: 150px;
	height: 180px;
  border: 1px solid black;
	object-fit: cover;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 110px;
    color: lightblue;
    background-color: black;
    opacity: 0.6;
    border-radius: 20px;
}

.title {
  position: relative;
  color: black;
  font-size: 100px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

hr {
	clear:both;
  border: 0px solid black;
}

@media screen and (max-width: 250px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .column {
    width: 33.3%;
  }
}

@media screen and (max-width: 1000px) {
  .column {
    width: 25%;
  }
}
